/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  font-family: var(--main-font-family), fantasy;
  background-image: var(--background);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--main-font-weight);
}

/*************HEADER*************/
.header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-inline: auto;
  margin-block-start: 100px;
  margin-block-end: 98px;
  border: 2px solid var(--border-color, #000);
  padding-block: clamp(7.5rem, 0.751vw + 7.324rem, 8rem);
  font-family: var(--accent-font-family), fantasy;
  text-align: center;
  background-color: #fff;
  inline-size: var(--clamp);
}

.header__title,
.header__text {
  font-weight: var(--main-font-weight);
  line-height: 100%;
  text-transform: uppercase;
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__text {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

/*************MAIN*************/
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-inline: auto;
  inline-size: var(--clamp);
}

.main > ul {
  display: grid;
  gap: 50px;
}

.article {
  border: 2px solid var(--border-color);
  background-color: var(--background-article-color);
}

.article__title {
  padding: 4px 10px;
  font-size: var(--font-size);
  font-variation-settings: "wght" var(--title-font-weight);
}

.article__image-box {
  position: relative;
  overflow: hidden;
}

.article__label {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 1;
  opacity: 0.5;
  font-family: var(--accent-font-family), fantasy;
  font-weight: var(--main-font-weight);
  font-size: var(--font-size-article-label, 14px);
  text-shadow: -1px -1px 0 var(--stroke-color, #fff),
    1px -1px 0 var(--stroke-color, #fff), -1px 1px 0 var(--stroke-color, #fff),
    1px 1px 0 var(--stroke-color, #fff);
  mix-blend-mode: hard-light;
}

@supports (text-stroke: 1px var(--stroke-color, #fff)) {
  .article__label {
    text-shadow: none;
    text-stroke: 1px var(--stroke-color, #fff);
  }
}

@supports (-webkit-text-stroke: 1px var(--stroke-color, #fff)) {
  .article__label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--stroke-color, #fff);
  }
}

.article__content {
  display: grid;
  gap: 25px;
  border-block-start: 1px solid var(--border-color, #000);
  padding: 25px 25px 0 25px;
  font-size: 18px;
  line-height: calc(21 / 18);
}

.article__image {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  aspect-ratio: 1;
}

.button__block {
  display: flex;
  justify-content: end;
  gap: 4px;
  padding: 25px 25px 23px 25px;
}

.card__icon-button {
  display: grid;
  border: 2px solid transparent;
  padding: 0;
  background: transparent;
  transition: border-color 0.3s ease, outline-color 0.3s linear;
}

.card__icon-button:focus {
  box-shadow: none;
  outline: none;
}

.card__icon-button:focus:focus-visible {
  outline: 2px solid var(--border-color);
}

.decorated__button {
  position: relative;
  overflow: hidden;
  color: var(--background-article-color);
  font-size: var(--font-size-article-label);
  transition: box-shadow 0.3s ease;
  inline-size: 130px;
}

.decorated__button::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #000;
  transition: translate 0.5s ease-in-out;
  translate: -100%;
}

.decorated__button:hover::before {
  translate: 0%;
}

.decorated__button-text {
  position: relative;
  z-index: 1;
  font-size: var(--font-size-article-label);
  mix-blend-mode: difference;
}

/*************BUTTON-DOWNLOAD*************/
.button-download {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-block-end: 95px;
  padding-block: 15px;
  font-size: var(--font-size-article-label);
  inline-size: 336px;
}

.floppy {
  min-inline-size: var(--icon-size-small);
  block-size: var(--icon-size-small);
  mix-blend-mode: difference;
}

/*************DIALOG*************/
.dialog-download .floppy {
  position: relative;
  z-index: 1;
  min-inline-size: var(--icon-size-large);
  block-size: var(--icon-size-large);
  mix-blend-mode: difference;
}

.dialog-download[open] {
  display: flex;
  flex-direction: column;
  justify-self: center;
  gap: 30px;
  align-self: center;
  margin-bottom: 25px;
  padding: 30px;
  inline-size: 353px;
}

.dialog__title {
  font-family: var(--accent-font-family), fantasy;
  font-weight: var(--main-font-weight);
  font-size: var(--font-size-article-label);
  line-height: 150%;
  text-transform: uppercase;
}

.dialog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.dialog-container > .floppy {
  color: #fff;
}

.button-download-agree {
  padding-block: 12.5px;
  inline-size: 100%;
}

.button-agree {
  font-size: var(--font-size-article-label);
  text-transform: uppercase;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

/*************ФИЛЬТРАЦИЯ*************/
.filter_saturate {
  filter: saturate(150%);
}

.filter_contrast {
  filter: contrast(130%);
}

.filter_saturate_contrast {
  filter: saturate(130%) contrast(120%);
}

.filter_brightness {
  filter: brightness(170%);
}

.filter_sepia {
  filter: sepia(25%);
}

.filter_grayscale {
  filter: grayscale(70%);
}

.filter_hue_rotate {
  filter: hue-rotate(180deg);
}

.filter_multi_filters {
  filter: contrast(120%) brightness(80%) saturate(80%);
}

/*************АДАПТИВ*************/
@media screen and (max-width: 375px) {
  .header {
    margin-block-end: 100px;
  }

  .article__title {
    padding: 5px 10px;
  }

  .button-download {
    flex-direction: column;
    inline-size: 306px;
  }

  .floppy {
    min-inline-size: var(--icon-size-medium);
    block-size: var(--icon-size-medium);
  }
}
